Repository fancydrones/x500-cm4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-streamer, build-router, build-announcer, build-companion

Path conditions:
  build-streamer: any of: apps/streamer/**/*
  build-router: any of: apps/router/**/*
  build-announcer: any of: apps/announcer/**/*
  build-companion: any of: apps/companion/**/*

New version: ghcr.io/fancydrones/x500-cm4/companion:20221231-34c6d78
  deployments/apps/companion-deployment.yaml
Due: none

Prepare for pod metrics UI
  apps/companion/lib/companion/k8s_api_manager.ex
  apps/companion/lib/companion/simulated_k8s_api_manager.ex
  apps/companion/lib/companion_web/live/overview_live.ex
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230101-b5046f2
  deployments/apps/companion-deployment.yaml
Due: none

Show pod metrics
  apps/companion/.tool-versions
  apps/companion/lib/companion/k8s_api_manager.ex
  apps/companion/lib/companion_web/live/overview_live.ex
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230101-d3101ff
  deployments/apps/companion-deployment.yaml
Due: none

Try to include xmavlink
  apps/companion/mix.exs
  apps/companion/mix.lock
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230101-d796bd9
  deployments/apps/companion-deployment.yaml
Due: none

New version: ghcr.io/fancydrones/x500-cm4/companion:20230101-1c0df14
  deployments/apps/companion-deployment.yaml
Due: none

Compile mavlink
  apps/companion/lib/common_mavlink.ex
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230101-0701053
  deployments/apps/companion-deployment.yaml
Due: none

Make sure Companion runs
  apps/companion/config/config.exs
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230101-b1f95fc
  deployments/apps/companion-deployment.yaml
Due: none

Bump xmavlink versions
  apps/companion/lib/common_mavlink.ex
  apps/companion/mix.exs
  apps/companion/mix.lock
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230102-5c4cc8f
  deployments/apps/companion-deployment.yaml
Due: none

Bump version and fix config
  apps/companion/config/config.exs
  apps/companion/mix.exs
  apps/companion/mix.lock
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230102-444ac18
  deployments/apps/companion-deployment.yaml
Due: none

Mavlink testing
  apps/companion/config/dev.exs
  apps/companion/lib/companion/echo.ex
Due: build-companion

Mavlink version 2
  apps/announcer/mavlinkcamera.py
Due: build-announcer

New version: ghcr.io/fancydrones/x500-cm4/companion:20230102-0f05a43
  deployments/apps/companion-deployment.yaml
Due: none

New version: ghcr.io/fancydrones/x500-cm4/announcer:20230102-0f05a43
  deployments/apps/announcer-deployment.yaml
Due: none

Some magic version number. 3 is same as PX4 is sending
  apps/announcer/mavlinkcamera.py
Due: build-announcer

New version: ghcr.io/fancydrones/x500-cm4/announcer:20230102-2e4186f
  deployments/apps/announcer-deployment.yaml
Due: none

New version: ghcr.io/fancydrones/x500-cm4/announcer:20230430-d6286c4
  deployments/apps/announcer-deployment.yaml
Due: none

New version: ghcr.io/fancydrones/x500-cm4/router:20230430-d6286c4
  deployments/apps/router-deployment.yaml
Due: none

bump streamer version
  deployments/apps/streamer-deployment.yaml
Due: none

upgrade k3s
  deployments/k3s-system-upgrade/upgrade-plan.yaml
Due: none

Update for flux
  .github/workflows/pr-to-update-flux.yaml
Due: none

wrong format
  .github/workflows/pr-to-update-flux.yaml
Due: none

Update to flux version 2.0.0-rc.1
  deployments/flux-system/gotk-components.yaml
Due: none

New version: ghcr.io/fancydrones/x500-cm4/companion:20230502-6045fd5
  deployments/apps/companion-deployment.yaml
Due: none

Bump versions to close security issues
  apps/companion/.tool-versions
  apps/companion/Dockerfile
Due: build-companion

Needs axplicit version
  apps/companion/Dockerfile
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20230503-920bdd6
  deployments/apps/companion-deployment.yaml
Due: none

Upgrade run stage for router
  apps/router/Dockerfile
Due: build-router

New version: ghcr.io/fancydrones/x500-cm4/router:20230503-7036e1d
  deployments/apps/router-deployment.yaml
Due: none

Patch to absolutely latest
  apps/announcer/Dockerfile
  apps/companion/Dockerfile
Due: build-announcer, build-companion

remove streamer
  apps/streamer/Dockerfile
  apps/streamer/Dockerfile.alpine
  apps/streamer/README.md
  apps/streamer/main.py
  apps/streamer/requirements.txt
Due: build-streamer

New version: ghcr.io/fancydrones/x500-cm4/announcer:20230503-f649bd6
  deployments/apps/announcer-deployment.yaml
Due: none

New version: ghcr.io/fancydrones/x500-cm4/companion:20230503-f649bd6
  deployments/apps/companion-deployment.yaml
Due: none

Upgrade k8s lib
  apps/companion/lib/companion/k8s_api_manager.ex
  apps/companion/mix.exs
  apps/companion/mix.lock
Due: build-companion
