Repository fancydrones/x500-cm4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-streamer, build-router, build-announcer, build-companion

Path conditions:
  build-streamer: any of: apps/streamer/**/*
  build-router: any of: apps/router/**/*
  build-announcer: any of: apps/announcer/**/*
  build-companion: any of: apps/companion/**/*

New version: ghcr.io/fancydrones/x500-rpi4/router:20220816-18388ad
  deployments/rpi4/apps/router.yaml
Due: none

New version: ghcr.io/fancydrones/x500-rpi4/companion:20220816-18388ad
  deployments/rpi4/apps/companion.yaml
Due: none

New version: ghcr.io/fancydrones/x500-rpi4/streamer:20220816-18388ad
  deployments/rpi4/apps/streamer.yaml
Due: none

Switch gitops to github paths
  README.md
  deployments/apps/announcer.yaml
  deployments/apps/companion.yaml
  deployments/apps/kustomization.yaml
  deployments/apps/namespace.yaml
  deployments/apps/router.yaml
  deployments/apps/streamer.yaml
  deployments/flux-system/gotk-components.yaml
  deployments/flux-system/gotk-sync.yaml
  deployments/flux-system/kustomization.yaml
  deployments/infrastructure/kustomization.yaml
  deployments/infrastructure/modifier-role-binding.yaml
  deployments/infrastructure/modifier-service-account.yaml
  deployments/infrastructure/modify-and-restart-role.yaml
  install/install_base.sh
  install/install_rpiuav.sh
Due: none

Upgrade flux
  deployments/flux-system/gotk-components.yaml
  flux.md
Due: none

TODOs
  README.md
Due: none

License
  LICENSE
Due: none

remove gitlab
  README.md
  apps/companion/lib/companion_web/templates/layout/root.html.heex
Due: build-companion

scope triggers for workflows
  .github/workflows/process-announcer.yaml
  .github/workflows/process-companion.yaml
  .github/workflows/process-router.yaml
  .github/workflows/process-streamer.yaml
  README.md
Due: none

Fix path for deployments
  .github/workflows/process-image-template.yaml
Due: none

trigger all 4 builds
  apps/announcer/README.md
  apps/companion/README.md
  apps/router/README.md
  apps/streamer/README.md
Due: build-streamer, build-router, build-announcer, build-companion

Trigger all builds
  .github/workflows/process-announcer.yaml
  apps/announcer/README.md
  apps/companion/README.md
  apps/router/README.md
  apps/streamer/README.md
Due: build-streamer, build-router, build-announcer, build-companion

New version: ghcr.io/fancydrones/x500-rpi4/announcer:20220816-e7a8a3f
  deployments/apps/announcer.yaml
Due: none

New version: ghcr.io/fancydrones/x500-rpi4/router:20220816-e7a8a3f
  deployments/apps/router.yaml
Due: none

New version: ghcr.io/fancydrones/x500-rpi4/companion:20220816-e7a8a3f
  deployments/apps/companion.yaml
Due: none

New version: ghcr.io/fancydrones/x500-rpi4/streamer:20220816-e7a8a3f
  deployments/apps/streamer.yaml
Due: none

fix path
  install/install_rpiuav.sh
Due: none

Trigger build
  apps/announcer/README.md
Due: build-announcer

New version: ghcr.io/fancydrones/x500-rpi4/announcer:20220816-8a46dba
  deployments/apps/announcer.yaml
Due: none

Trigger build
  apps/companion/README.md
Due: build-companion

Trigger build
  apps/streamer/README.md
Due: build-streamer

New version: ghcr.io/fancydrones/x500-rpi4/companion:20220816-ff8cec8
  deployments/apps/companion.yaml
Due: none

Trigger build
  apps/router/README.md
Due: build-router

New version: ghcr.io/fancydrones/x500-rpi4/router:20220816-d3c2513
  deployments/apps/router.yaml
Due: none

New version: ghcr.io/fancydrones/x500-rpi4/streamer:20220816-821f0a3
  deployments/apps/streamer.yaml
Due: none

trigger build
  apps/announcer/README.md
Due: build-announcer

New version: ghcr.io/fancydrones/x500-rpi4/announcer:20220816-6916027
  deployments/apps/announcer.yaml
Due: none

GH pages
  .github/workflows/pages.yaml
Due: none

Tune pages
  .github/workflows/pages.yml
  docs/index.md
Due: none

rename to yaml
  .github/workflows/pages.yaml
  docs/index.md
Due: none

typo
  docs/index.md
Due: none

br to render table better in jekyll
  docs/bom.md
Due: none

Switch to MKDocs
  .github/workflows/pages.yaml
  .gitignore
  docs/README.md
  mkdocs.yml
Due: none

Cleanup for mkdocs
  .github/workflows/pages.yaml
  docs/_config.yml
  mkdocs.yml
Due: none

Adapt to mkdocs
  docs/Instructions.md
  docs/README.md
  docs/software.md
  docs/update_config.md
  mkdocs.yml
Due: none

refactoring
  docs/README.md
  docs/gimbal/Pi_Camera_mount_pan-tilt_kit.stl
  docs/gimbal/README.md
  mkdocs.yml
Due: none

update bom
  docs/bom.md
Due: none

revise BOM
  docs/bom.md
Due: none

more extensions
  mkdocs.yml
Due: none
