Repository fancydrones/x500-cm4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-streamer, build-router, build-announcer, build-companion

.gitlab-ci.yml:

variables:
  BUILDX_VER: "0.8.2"
  KUSTOMIZE_VER: "4.5.5"

stages:
- prebuild
- build

.install_buildx: &install_buildx
  - echo "Install BuildX"
  - mkdir -p ~/.docker/cli-plugins
  - wget -O ~/.docker/cli-plugins/docker-buildx https://github.com/docker/buildx/releases/download/v${BUILDX_VER}/buildx-v${BUILDX_VER}.linux-amd64
  - chmod a+x ~/.docker/cli-plugins/docker-buildx
  - docker run --rm --privileged multiarch/qemu-user-static --reset -p yes
  - docker buildx create --use
  - docker login -u "$CI_USER" -p "$CI_PASSWORD" $CI_REGISTRY

.install_kustomize: &install_kustomize
  - echo "Install Kustomize"
  - apk --no-cache add git curl gettext openssh
  - curl -L https://github.com/kubernetes-sigs/kustomize/releases/download/kustomize%2Fv${KUSTOMIZE_VER}/kustomize_v${KUSTOMIZE_VER}_linux_amd64.tar.gz -o kustomize.tar.gz
  - tar -xvzf kustomize.tar.gz && mv kustomize /usr/bin/kustomize && chmod +x /usr/bin/kustomize
  - git config --global user.email "rpiuav@got.vision"
  - git config --global user.name "RPi UAV Builder"

.build_image: &build_image
  - echo "Building tag $IMAGE_TAG:${BUILD_TAG}"
  - docker buildx build
      --platform linux/aarch64
      --tag "$IMAGE_TAG:${BUILD_TAG}"
      --push
      ./$APP_DIR

.update_image_tag: &update_image_tag
  - echo "Deploying tag IMAGE_TAG:${BUILD_TAG}"
  - git clone https://gitlab.com/got.vision/rpiuav.git
  # Patch
#  - rm kustomization.yaml -f
  - kustomize create
  - kustomize edit set image registry.gitlab.com/got.vision/rpiuav/$APP_NAME:${BUILD_TAG}
  - kustomize edit add resource rpiuav/deployments/rpi4/apps/$APP_NAME.yaml
  - kustomize build . > x.yaml
  - mv x.yaml rpiuav/deployments/rpi4/apps/$APP_NAME.yaml
  # Push update
  - cd rpiuav/
  - git remote add mani-repo https://${CI_USER}:${CI_PASSWORD}@gitlab.com/got.vision/rpiuav.git
  - git add .
  - git commit -m "Update $IMAGE_TAG versions to ${BUILD_TAG}"
  - git push --push-option=ci.skip mani-repo main

prepare-build-tag:
  stage: prebuild
  script:
    - |
      if [[ "$CI_COMMIT_BRANCH" == "$CI_DEFAULT_BRANCH" ]]; then
        tag="1.0.$CI_PIPELINE_IID"
        echo "Running on default branch '$CI_DEFAULT_BRANCH': tag = $tag"
      else
        tag="$CI_COMMIT_REF_SLUG"
        echo "Running on branch '$CI_COMMIT_BRANCH': tag = $tag"
      fi
    - echo "BUILD_TAG=$tag" >> build.env  
  artifacts:
    reports:
      dotenv: build.env

.build_image_template:
  image: docker:latest
  stage: build
  dependencies:
    - prepare-build-tag
  services:
    - name: docker:dind
      command: ["--experimental"]
  script:
    - *install_buildx
    - *install_kustomize
    - *build_image
    - *update_image_tag

build-streamer:
  extends: .build_image_template
  variables:
    IMAGE_TAG: $CI_IMAGE_STREAMER
    APP_DIR: apps/streamer
    APP_NAME: streamer
  only:
    changes:
      - apps/streamer/*

build-router:
  extends: .build_image_template
  variables:
    IMAGE_TAG: $CI_IMAGE_ROUTER
    APP_DIR: apps/router
    APP_NAME: router
  only:
    changes:
      - apps/router/*

build-announcer:
  extends: .build_image_template
  variables:
    IMAGE_TAG: $CI_IMAGE_ANNOUNCER
    APP_DIR: apps/announcer
    APP_NAME: announcer
  only:
    changes:
      - apps/announcer/*

build-companion:
  extends: .build_image_template
  variables:
    IMAGE_TAG: $CI_IMAGE_COMPANION
    APP_DIR: apps/companion
    APP_NAME: companion
  only:
    changes:
      - apps/companion/*

Trigger builds
  apps/announcer/README.md
  apps/companion/README.md
  apps/router/README.md
  apps/streamer/README.md
Due: build-streamer, build-router, build-announcer, build-companion

Update registry.gitlab.com/got.vision/rpiuav/announcer versions to 1.0.110
  deployments/rpi4/apps/announcer.yaml
Due: none

Update registry.gitlab.com/got.vision/rpiuav/router versions to 1.0.110
  deployments/rpi4/apps/router.yaml
Due: none

Update registry.gitlab.com/got.vision/rpiuav/companion versions to 1.0.110
  deployments/rpi4/apps/companion.yaml
Due: none

Update registry.gitlab.com/got.vision/rpiuav/streamer versions to 1.0.110
  deployments/rpi4/apps/streamer.yaml
Due: none

centralize deploy step
  .gitlab-ci.yml
Due: none

fix syntax
  .gitlab-ci.yml
Due: none

trigger build
  apps/announcer/README.md
Due: build-announcer

test deploy again
  .gitlab-ci.yml
Due: none

Wrong build
  .gitlab-ci.yml
Due: none

trigger build
  .gitlab-ci.yml
  apps/announcer/Dockerfile
Due: build-announcer

Update versions to 1.0.120
  deployments/rpi4/apps/companion.yaml
  deployments/rpi4/apps/router.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

patch
  .gitlab-ci.yml
Due: none

Patch
  .gitlab-ci.yml
Due: none

Patching
  .gitlab-ci.yml
Due: none

Update versions to 1.0.125
  deployments/rpi4/apps/companion.yaml
  deployments/rpi4/apps/router.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

Update versions to 1.0.127
  deployments/rpi4/apps/announcer.yaml
Due: none

Cleanup
  .gitlab-ci.yml
Due: none

Trigger Announcer
  apps/announcer/Dockerfile
Due: build-announcer

Update versions to 1.0.130
  deployments/rpi4/apps/announcer.yaml
Due: none

Trigger test
  apps/companion/README.md
Due: build-companion

Update versions to 1.0.132
  deployments/rpi4/apps/companion.yaml
Due: none

Switch from ONLY to RULES
  .gitlab-ci.yml
Due: none

typo
  .gitlab-ci.yml
Due: none

try different variable
  .gitlab-ci.yml
Due: none

trigger router
  apps/router/README.md
Due: build-router

Update versions to 1.0.137
  deployments/rpi4/apps/router.yaml
Due: none

Trigger streamer
  apps/streamer/README.md
Due: build-streamer

Update rules to not double trigger
  .gitlab-ci.yml
  apps/announcer/README.md
  apps/companion/README.md
  apps/router/README.md
  apps/streamer/README.md
Due: build-streamer, build-router, build-announcer, build-companion

Update versions to 1.0.139
  deployments/rpi4/apps/streamer.yaml
Due: none

Update versions to 1.0.142
  deployments/rpi4/apps/announcer.yaml
  deployments/rpi4/apps/companion.yaml
  deployments/rpi4/apps/router.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

jobs
  .gitlab-ci.yml
  README.md
Due: none

Trigger build to test MR
  apps/announcer/README.md
  apps/companion/README.md
  apps/router/README.md
  apps/streamer/README.md
Due: build-streamer, build-router, build-announcer, build-companion

Improve tag for MR
  .gitlab-ci.yml
Due: none

Update versions to 1.0.151
  deployments/rpi4/apps/announcer.yaml
  deployments/rpi4/apps/companion.yaml
  deployments/rpi4/apps/router.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

Test selective build
  README.md
  apps/companion/lib/companion_web/live/operator_live.ex
Due: none

Fix rules and selective trigger
  .gitlab-ci.yml
  apps/companion/README.md
Due: build-companion

Update versions to 1.0.154
  deployments/rpi4/apps/companion.yaml
Due: none
