Repository fancydrones/x500-cm4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-streamer, build-router, build-announcer, build-companion

build-streamer:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

build-router:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

build-announcer:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

build-companion:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

Update documentation link
  apps/companion/lib/companion_web/templates/layout/root.html.heex
Due: build-companion

disclaimer
  docs/README.md
Due: none

New version: ghcr.io/fancydrones/x500-cm4/companion:20221229-a85f87a
  deployments/apps/companion-deployment.yaml
Due: none

Add disclaimer
  README.md
  docs/README.md
Due: none

Link to camera feed
  apps/companion/lib/companion_web/templates/layout/root.html.heex
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20221229-e5ffa98
  deployments/apps/companion-deployment.yaml
Due: none

Needs to be full URL to work
  apps/companion/lib/companion_web/templates/layout/root.html.heex
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20221229-fd9e0f1
  deployments/apps/companion-deployment.yaml
Due: none

Access to Metrics api
  apps/companion/Dockerfile.debian
  deployments/infrastructure/metrics-rb.yaml
  deployments/infrastructure/metrics-role.yaml
Due: build-companion

New version: ghcr.io/fancydrones/x500-cm4/companion:20221229-4e5c886
  deployments/apps/companion-deployment.yaml
Due: none

activate new role
  deployments/infrastructure/kustomization.yaml
Due: none

Change to clusterrole
  deployments/infrastructure/metrics-rb.yaml
  deployments/infrastructure/metrics-role.yaml
Due: none

adjust apigroups
  deployments/infrastructure/metrics-role.yaml
Due: none

remove role
  deployments/infrastructure/kustomization.yaml
Due: none

Add clusterroles
  deployments/infrastructure/kustomization.yaml
Due: none

remove binding
  deployments/infrastructure/kustomization.yaml
  deployments/infrastructure/metrics-rb.yaml
Due: none

enable as clusterrolebinding
  deployments/infrastructure/kustomization.yaml
Due: none

add ns
  deployments/infrastructure/metrics-rb.yaml
Due: none

Update mkdocs.yml
  mkdocs.yml
Due: none

Update README.md
  docs/README.md
Due: none

Gimbal documentation
  docs/bom.md
  docs/gimbal/README.md
  docs/gimbal/gimba-forward-arm.stl
  docs/gimbal/gimbal-cable-distancer.stl
  docs/gimbal/gimbal-camera-mount.stl
  docs/gimbal/gimbal-damper-mount.stl
  docs/gimbal/gimbal-main-holder.stl
  docs/gimbal/gimbal-mount-lower-plate.stl
  docs/gimbal/gimbal-mount-upper-plate.stl
  docs/gimbal/gimbal-roll-holder.stl
  docs/gimbal/x500-cm4.profile
Due: none

Update media links
  docs/pictures.md
Due: none

misc updates
  docs/Instructions.md
  docs/build_locally.md
  docs/physical.md
Due: none

Try to reduce size of image
  apps/announcer/Dockerfile
Due: build-announcer

New version: ghcr.io/fancydrones/x500-cm4/announcer:20221230-fc0266a
  deployments/apps/announcer-deployment.yaml
Due: none

Simplify image
  apps/announcer/requirements-1.txt
  apps/announcer/requirements-2.txt
Due: build-announcer

Cleanup
  apps/announcer/Dockerfile
Due: build-announcer

New version: ghcr.io/fancydrones/x500-cm4/announcer:20221230-47f0cc6
  deployments/apps/announcer-deployment.yaml
Due: none

too much reduction
  apps/announcer/Dockerfile
Due: build-announcer

New version: ghcr.io/fancydrones/x500-cm4/announcer:20221230-f0c240e
  deployments/apps/announcer-deployment.yaml
Due: none

Motivation
  README.md
  docs/README.md
Due: none

Backend work for metrics
  apps/companion/config/dev.exs
  apps/companion/lib/companion/k8s_api_manager.ex
  apps/companion/lib/companion/k8s_manager.ex
  apps/companion/lib/companion/simulated_k8s_api_manager.ex
  apps/companion/lib/companion_web/live/overview_live.ex
  deployments/infrastructure/metrics-role.yaml
Due: build-companion

Upgrade all tools to close detected CVE
  apps/announcer/Dockerfile
Due: build-announcer

New version: ghcr.io/fancydrones/x500-cm4/announcer:20221231-b72dc57
  deployments/apps/announcer-deployment.yaml
Due: none

New version: ghcr.io/fancydrones/x500-cm4/companion:20221231-1131be2
  deployments/apps/companion-deployment.yaml
Due: none

upgrade builder too
  apps/announcer/Dockerfile
Due: build-announcer

New version: ghcr.io/fancydrones/x500-cm4/announcer:20221231-c9b5205
  deployments/apps/announcer-deployment.yaml
Due: none

Show node with metrics
  apps/companion/lib/companion_web/live/overview_live.ex
Due: build-companion

Path conditions:
  build-streamer: any of: apps/streamer/**/*
  build-router: any of: apps/router/**/*
  build-announcer: any of: apps/announcer/**/*
  build-companion: any of: apps/companion/**/*
