Repository fancydrones/x500-cm4: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-streamer, build-router, build-announcer, build-companion

build-streamer:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

build-router:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

build-announcer:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

build-companion:
  image: docker:latest
  stage: build
  dependencies:
  - prepare-build-tag
  services:
  - name: docker:dind
    command:
    - --experimental
  script:
  - echo "Install BuildX"
  - echo $CI_REGISTRY
  - echo $CI_REPOSITORY_URL
  - echo $CI_PROJECT_DIR
  - echo $CI_PROJECT_ID
  - echo $CI_PROJECT_NAME
  ...

Update versions to 2022-08-07.235
  deployments/rpi4/apps/companion.yaml
Due: none

K8s constrains
  deployments/rpi4/apps/announcer.yaml
  deployments/rpi4/apps/companion.yaml
  deployments/rpi4/apps/router.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

Doc
  README.md
Due: none

cleanup
  apps/companion/lib/companion/k8s_api_manager.ex
Due: build-companion

Update versions to 2022-08-07.237
  deployments/rpi4/apps/companion.yaml
Due: none

Rename start page
  apps/companion/lib/companion_web/live/overview_live.ex
  apps/companion/lib/companion_web/router.ex
  apps/companion/lib/companion_web/templates/layout/root.html.heex
Due: build-companion

Update versions to 2022-08-07.239
  deployments/rpi4/apps/companion.yaml
Due: none

Style for config
  apps/companion/assets/css/app.css
  apps/companion/lib/companion/simulated_k8s_api_manager.ex
  apps/companion/lib/companion_web/live/config_live.ex
  apps/companion/lib/companion_web/live/overview_live.ex
Due: build-companion

Update TODO
  README.md
Due: none

Update versions to 2022-08-08.241
  deployments/rpi4/apps/companion.yaml
Due: none

UI fix for heading
  apps/companion/assets/css/app.css
  apps/companion/lib/companion_web/live/config_live.ex
Due: build-companion

Update versions to 2022-08-08.244
  deployments/rpi4/apps/companion.yaml
Due: none

Cosmetic
  apps/companion/assets/css/app.css
Due: build-companion

Get configmap updates using subscription
  apps/companion/lib/companion/k8s_api_manager.ex
  apps/companion/lib/companion/k8s_manager.ex
  apps/companion/lib/companion/simulated_k8s_api_manager.ex
  apps/companion/lib/companion_web/live/config_live.ex
Due: build-companion

Update versions to 2022-08-09.246
  deployments/rpi4/apps/companion.yaml
Due: none

Remove dietpi
  dietpi-for-potential-future-use/config.txt.md
  dietpi-for-potential-future-use/dietpi.txt
  dietpi-for-potential-future-use/eth0
  dietpi-for-potential-future-use/setup.md
  dietpi-for-potential-future-use/usb0
Due: none

tune announcer
  apps/announcer/mavlinkcamera.py
Due: build-announcer

Update versions to 2022-08-10.248
  deployments/rpi4/apps/announcer.yaml
Due: none

subscribe to SIGTERM
  apps/announcer/main.py
Due: build-announcer

Update versions to 2022-08-10.250
  deployments/rpi4/apps/announcer.yaml
Due: none

catch more exit signals
  apps/announcer/main.py
Due: build-announcer

Update versions to 2022-08-10.252
  deployments/rpi4/apps/announcer.yaml
Due: none

align naming
  apps/announcer/main.py
Due: build-announcer

capture exit signals
  apps/streamer/main.py
Due: build-streamer

Not possible to capture SIGKILL
  apps/announcer/main.py
  apps/streamer/main.py
Due: build-streamer, build-announcer

Only SIGTERM used by k8s
  apps/announcer/main.py
  apps/streamer/main.py
Due: build-streamer, build-announcer

Update versions to 2022-08-10.254
  deployments/rpi4/apps/announcer.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

Update versions to 2022-08-10.255
  deployments/rpi4/apps/announcer.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

Update versions to 2022-08-10.256
  deployments/rpi4/apps/announcer.yaml
  deployments/rpi4/apps/streamer.yaml
Due: none

Update TODO + doc
  README.md
  misc.md
Due: none

bugfixes
  apps/streamer/main.py
Due: build-streamer

TODOs
  README.md
Due: none

Update versions to 2022-08-10.261
  deployments/rpi4/apps/streamer.yaml
Due: none

Improve installation
  README.md
  install/config.yaml
  install/install_base.sh
  install/install_rpiuav.sh
  os.md
Due: none

create missing folder
  install/install_base.sh
Due: none

Update install instructions
  README.md
  os.md
Due: none

warning
  os.md
Due: none

Missing namespace
  install/install_rpiuav.sh
Due: none

streamer as service
  deployments/rpi4/apps/streamer.yaml
Due: none

nodeport
  deployments/rpi4/apps/streamer.yaml
Due: none

Path conditions:
  build-streamer: any of: apps/streamer/**/*
  build-router: any of: apps/router/**/*
  build-announcer: any of: apps/announcer/**/*
  build-companion: any of: apps/companion/**/*
